<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Entry</title>
</head>
<body>
    {% extends "iron_fleet/base.html" %}

    {% block content %}
        <p><a href="{% url 'iron_fleet:topic' topic.id %}">{{ topic }}</a></p>

        <p>Add A New Entry:</p>

        <form action="{% url 'iron_fleet:new_entry' topic.id %}" method='post'>
            {% csrf_token %}
            {{ form.as_div }}
            <button name='submit'>Add Entry</button>
        </form>

    {% endblock content %}
</body>
</html>