<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Topics</title>
</head>
<body>
    {% extends "iron_fleet/base.html" %}

    {% block page_header %}
        <h1>Topics</h1>
    {% endblock page_header %}

    {% block content %}

        <ul class="list-group border-bottom pb-2 mb-4">
            {% for topic in topics %}
                <li class="list-group-item border-0">
                    <a href="{% url 'iron_fleet:topic' topic.id %}">{{ topic.text }}</a>
                </li>
            {% empty %}
                <li class="list-group-item border-0">No topics have been added yet.</li>
            {% endfor %}
        </ul>

        <a href="{% url 'iron_fleet:new_topic' %}">Add A New Topic</a>

    {% endblock content %}
</body>
</html>